/* CSS for TOP // Restaurant Page */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
img { 
    max-width: 100%; 
    height: auto; 
}

@font-face {
    font-family: 'StardewValley';
    src: url('/src/Stardew_Valley.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    src: url('/src/OpenSans.ttf') format('truetype');
}

@font-face{
    font-family: 'SV_Thin';
    src: url('/src/SVThin.ttf') format('truetype');
}

body{
    position: relative;
    min-height: 100vh;
    background: url('/src/med_logo.png'), url('/src/stardewbackground.png') no-repeat fixed center center / cover;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    position:sticky;
}

header ul,
footer ul{
   display: flex;
   justify-content: center;
   background-color: rgba(21, 71, 148, 0.8);
}

header li{
    font-size: 30px;
}

footer li{
   font-size: 22px;
}

header li,
footer li{
    padding: 10px 20px;
    color: #fbfbf0 ;
    font-family: 'StardewValley';
    transition: 0.2s;
}
a{
    color: #fbfbf0;
}



header li:hover{
    color: #DFA22D;
    cursor: pointer;
}

footer a:hover,
footer li:hover{
    color: #edcfae;
    cursor: pointer;
}

#content{
    background:linear-gradient(180deg, rgba(255,200,124,1) 0%, rgba(255,200,124,1) 40%, rgba(237,172,109,1) 100%);
    font-family: 'SV_Thin';
    color: #2D0915;
    text-shadow: 0px 2px #d9965fa8;
    margin: 10px 100px;
    padding: 50px;
    border: solid 10px transparent;
    border-radius: 10px;
    border-image: url('/src/border.png') 33 stretch;
    border-image-slice: 33%;
    transition: 0.3s ease;
    line-height: 1.1;
    letter-spacing: 0.3px;
    word-spacing: 1.5px;
}

.contactpage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    margin: 20px 0px;
}

.wrapper h1 {
    font-family: 'StardewValley';

    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}
p {
    margin: 10px;
    font-size: 18px;
}

section{
    /* background-color: #ffffff57; */
    margin: 20px auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    min-width: 80%;

}

.itemWrapper{
    background: url('./menubox.png') no-repeat;
    background-size: auto;
    display:flex;
    margin: 10px 0px;
    padding: 16px 30px 0px 26px;
    min-height: 162px;
    /* gap: 15px; */
    width: 320px;
    justify-content: space-between;
}

.itemWrapper h2{
    padding: 20px 0px 0px;
}

.rightwrap{
   display:flex;
   align-items: center;
}



/* home.js */
.innerWrap{
    display:flex;
    align-items: center;
    gap: 20px;
}
.innerWrap p{
    width: 50%;
}




footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
footer ul{
    background-color: rgb(21 148 136 / 37%);
}






h1{
    animation: loader 1s ease-in ;
}

@keyframes loader {
    0% {
      transform: translateY(-10px);
      opacity: 0%;
    }
    100% {
       transform: translateY(0px);
       opacity: 100%; 
    }
  }
 




@media screen and (max-width: 900px){
    #content{
        padding: 5%;
        margin: 5%;
    }
    .innerWrap{
        flex-direction: column;
    }

    .innerWrap p{
        width: unset;
    }
    
}

@media screen and (max-width: 400px){
    header li{
        padding: 10px 5px;
        font-size: 24px;
    }

    footer li{
        padding: 10px 5px;
        font-size: 20px;
    }

    header ul{
        gap: 10px;
    }
}